.styles.css
.flims_head{
    background-color:rgb(255, 255, 255);
}
.flims_a{
    background-color: rgb(224, 204, 161);
}
.flims_a{
    background-color: rgb(101, 40, 40);
}
.element {
    border: 20px, salmon;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
body {
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 20px 60px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: #ba4c4c;
    cursor: pointer;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.img-left{
    float: left;
    margin-left: 20px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.img-left{
    float: right;
    margin-right: 25px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.img-left{
    float: left;
    margin-left: 20px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.img-right{
    float: right;
    margin-right: 20px;
}
.bts {
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.text-block {
    font-size: 20px;
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Стили для светлой темы */
.light-theme {
    background-color: white;
    color: black;
}

/* Стили для тёмной темы */
.dark-theme {
    background-color: #409db1;
    color: rgb(13, 9, 243);
}

/* Основные стили для текста */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

/* Стиль для кнопки */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:#fa3c3c ;
    color: white;
}

button:hover {
    background-color: #6b1818;
}